name: Scraper Ofert

on:
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install playwright
          playwright install chromium

      - name: Run Scraper
        run: python scraper.py

      - name: Save results
        run: |
          git config --global user.name "Scraper Bot"
          git config --global user.email "bot@github.com"
          git add oferty.json
          git commit -m "Aktualizacja ofert" || exit 0
          git push
